.App {
  text-align: center;
}
.bgAbout{
  background-color: #4B92DB;
  min-height: 100%;
}
.chat{
  overflow-y: scroll;
  height: 150px;
  border: black solid 2px;
}
.cell{
  height: 25px;
  width: 25px;
  border: black solid 1px;
}

.board{
  width: 260px;
  margin:auto;
}

.bg-black{
  background-color: black;
}

.bg-blue{
  background-color: slateblue;
}

.bg-grey{
  background-color: grey;
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.peg{
  height: 15px;
  width: 15px;
  border: black solid 1px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
}



.flex {
  display: flex;
  width: 100%;
}
.flexWrap {
  flex-flow: row wrap;
  justify-content: center;
}

.flexGrow {
  flex-grow: 1;
}
.flex25{
  flex-basis: calc(100% / 4 - 10px) ;
}
.flex75{
  flex-basis: calc(100% / 4 * 3 - 10px);
}

.flexSpaceBetween {
  justify-content: space-between;
}